xml/schema.xml

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

<xs:element name="pahtologies">
	<xs:complexType mixed="true">
		<xs:sequence>
			<xs:element name="pathologie" type="xs:string" minOccurs="1" maxOccurs="unbounded">
				<xs:complexType mixed="true">
					<xs:element name="description" type="xs:string" minOccurs="1" maxOccurs="1"/>
					<xs:element name="meridien" minOccurs="1" maxOccurs="1">
						<xs:complexType mixed="true">
							<xs:element name="nom" type="xs:string" minOccurs="1" maxOccurs="1"/>
							<xs:element name="categorie" type="xs:string" minOccurs="1" maxOccurs="1"/>
						</xs:complexType>
					</xs:element>
					<xs:element name="symptomes" minOccurs="1" maxOccurs="1">
						<xs:complexType mixed="true">
							<xs:sequence>
								<xs:element name="symptome" type="xs:string" minOccurs="1" maxOccurs="unbounded"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:element>

</xs:schema>
